---
import ArticleComponent from "../components/ArticleComponent.astro";
---

<div class="cards-list col-3">
  <ArticleComponent />
  <ArticleComponent />
  <ArticleComponent />
  <ArticleComponent />
</div>
