<section class="signup-footer">
  <div class="newsletter-container">
    <h2>Become an Elite Developer</h2>
    <p>
      I write about in-depth topics and Free ressources - drop down your Email
      and join 10k other developers.
    </p>
    <form
      id="form-newNewsletterHomePage"
      action="https://app.convertkit.com/forms/6371905/subscriptions"
      method="post"
      novalidate="true"
      data-sv-form="3584409"
      data-uid="64c4f3ed27"
    >
      <input
        name="email_address"
        type="email"
        required="true"
        placeholder="Your Email Address"
        aria-label="Your Email Address"
      /><button type="submit">Subscribe</button>
    </form>
  </div>
  <!-- <script>
    trackEmailSignup(
      "form-newNewsletterHomePage",
      "homePage",
      "home",
      "Signup New Newsletter",
    );
  </script> -->
  <figure>
    <blockquote>
      <p>No spam. Ever. Unsubscribe at any time.</p>
    </blockquote>
  </figure>
</section>
