---
import PostCard from "../components/PostCard.astro";
import { formatBlogPosts } from "../js/utils";
import MainLayout from "../layouts/MainLayout.astro";

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const allCategories = formattedPosts
  .map((cat) => cat.frontmatter.category.toLowerCase())
  .flat();

const processedCats = allCategories.reduce((acc, category) => {
  // check if the category exists in the acc
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1,
  };
}, {});
---

<MainLayout title="My Blog">
  <script>
    trackEmailSignup(
      "form-newNewsletterHomePage",
      "home",
      "tutorials",
      "Signup New Newsletter",
    );
  </script>
  <section class="intro">
    <h1 class="intro-title">
      Read <span class="frame frame-dart">Latest,</span>
      <span class="frame frame-flutter">Articles</span> &amp; <span
        class="frame frame-firebase">Tutorials</span
      >
    </h1>
    <p class="intro-subtitle">
      Want to become a Better Developer and build REAL WORLD apps?<br /><></>
      browse my <a href="/blog/blog.html">Articles</a> to Speed up your learning
      Curve,
      <b>all for free!</b>
      <div class="newsletter-container">
        <h3>The best Flutter tutorials. Right in your inbox.</h3>
        <p>
          Join 20K+ Flutter developers who get in-depth articles (on Fridays)
          and hand-picked Flutter resources (every month):
        </p>
        <form
          id="form-newNewsletterHomePage"
          action="https://app.convertkit.com/forms/6371905/subscriptions"
          method="post"
          novalidate="true"
          data-sv-form="3584409"
          data-uid="64c4f3ed27"
        >
          <input
            name="email_address"
            type="email"
            required="true"
            placeholder="Your Email Address"
            aria-label="Your Email Address"
          /><button type="submit">Subscribe</button>
        </form>
        <script></script>
        <figure>
          <blockquote>
            <p>No spam. Ever. Unsubscribe at any time.</p>
          </blockquote>
        </figure>
      </div>
    </p>
  </section>

  <section class="cards">
    <div class="cards-list col-3">
      {
        formattedPosts.map((post) => (
          <>
            <PostCard
              frontmatter={post.frontmatter}
              url={post.url}
              tagType="h3"
            />
          </>
        ))
      }
    </div>
  </section>
</MainLayout>
