---
// library imports

// component imports
import Link from "./Link.astro";

// data imports
import navData from "../data/navData";
---

<nav class="sub-navigation">
  
</nav>


<script>
  import "../js/nav.js";
</script>
