---
// library imports

// component imports
import Link from "./Link.astro";

// data imports
import navData from "../data/navData";
---

<header id="header">
  <div class="header-container">
    <a class="logo" href="/"
      ><img src="../images/logo.png" alt="Code With Imem" /><span
        >CODE WITH IMEM</span
      ></a
    >

    <nav id="main-nav">
      <ul>
        {
          navData.map((item) => (
            <li>
              <Link
                text={item.name}
                href={item.path}
                style="primary"
                isFilled={false}
                data-navLink
              />
            </li>
          ))
        }

        <li class="switch-theme-list-item">
          <button class="switch-theme-button nav-button"
            ><img
              class="icon-night-mode"
              width="22"
              height="22"
              src="img/icons/icon-night-mode.svg"
              alt="Switch to night mode"
            />
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
