---
interface titles {
  title1: string;
  title2: string;
  title3: string;
}

const { title1, title2, title3 } = Astro.props as titles;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav>
      <a href="#">{title1}</a>
      <a href="#">{title2}</a>
      <a href="#">{title3}</a>
    </nav>
    <h1></h1>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
  </body>
</html>
